<%- include('./header') %>
<style>
    form{
        max-width: 700px;
        margin: 20px auto;
    }
</style>


<form method="POST" action="/send" enctype="multipart/form-data"> 
    <h2 class="mb-3">Send message</h2>
    <input name="ids" class="form-control" placeholder="contactIds separate by | to bulk send. check /contacts">
    <br>
    <textarea rows="5" name="message" class="form-control" placeholder="message, only message. type 'image' to upload image"></textarea>
    <br>
    <input name="image" class="form-control-file" type="file" placeholder="image, only image">
    <br>
    <button class="btn btn-primary">Submit</button>
</form>
<%- include('./footer') %>
