<style>
    input{
        display: block;
        margin-bottom: 10px;
        width: 100%;
    }
    form{
        max-width: 700px;
        margin: 20px auto;
    }
</style>
<form method="POST" action="/send" enctype="multipart/form-data"> 
    <input name="message" placeholder="message, only message. input 'image' to upload image">
    <input name="ids" placeholder="contactIds separate by | to bulk send. check /contacts">
    <input name="image" type="file" placeholder="image, only image">
    <button>Submit</button>
</form>